<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Blog Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../../public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600,700%7CMerriweather:300i,400,400i,700,700i,900%7CMontserrat:300,400,700,800,900">
    <link rel="stylesheet" href="../../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../../public/css/fonts.css">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../../../public/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.blade.php"><img class="brand-logo-dark" src="../../../public/images/logo-default-119x44.png" alt="" width="119" height="44" srcset="../../../public/images/logo-default-119x44.png 2x"/><img class="brand-logo-light" src="../../../public/images/logo-default-119x44.png" alt="" width="119" height="44" srcset="../../../public/images/logo-default-119x44.png 2x"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.blade.php">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.blade.php">About</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="portfolio.html">Portfolio</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-portfolio.html">Single Portfolio</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="services.html">Services</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-service.html">Single Service</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="classic-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="classic-blog.html">Classic Blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="modern-blog.html">Modern Blog</a>
                          </li>
                          <li class="rd-dropdown-item active"><a class="rd-dropdown-link" href="blog-post.html">Blog Post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress Bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid System</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503-page.html">503 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="under-construction.html">Under Construction</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search Results</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.blade.php">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section-xl context-dark bg-image-2" style="background-image: url(../../../public/images/bg-about-01-1700x376.jpg)">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-12">
              <h2 class="text-uppercase text-center">Blog Post</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-9 col-xl-8">
              <!-- Single Post-->
              <article class="post-single">
                <h3 class="post-single-title wow fadeInUp" data-wow-delay=".2s">5 Things Event Organizers Overlook</h3>
                <div class="post-single-meta">
                  <div class="badge">News</div>
                  <time class="post-single-time" datetime="2018">July 11, 2018 at 10:41 am</time>
                </div>
                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ultricies.</p><img class="wow fadeInLeft" src="../../../public/images/blog-post-1-770x500.jpg" alt="" width="770" height="500" data-wow-delay=".2s"/>
                <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat.</p>
                <p>Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque.</p><img class="wow fadeInRight" src="../../../public/images/blog-post-2-770x500.jpg" alt="" width="770" height="500" data-wow-delay=".2s"/>
                <p>Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit.</p>
                <p>Erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
                <div class="post-single-footer group-middle">
                  <h5>Share this post</h5>
                  <div>
                    <div class="group group-middle"><a class="link-social-1 icon mdi mdi-facebook" href="#"></a><a class="link-social-1 icon mdi mdi-linkedin" href="#"></a><a class="link-social-1 icon mdi mdi-google" href="#"></a></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-3 col-xl-4">
              <!-- Box Info-->
              <article class="box-info">
                <h3 class="box-info-title">Author</h3>
                <div class="box-info-inner"><img class="box-info-avatar" src="../../../public/images/post-author-180x180.jpg" alt="" width="180" height="180"/>
                  <div class="box-info-main">
                    <h5 class="box-info-caption">Jack Smith</h5>
                    <p>Lorem ipsum dolor sit amet, civibus perfecto ei nec, pro ignota oporteat ullamcorpe.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default wow fadeInDown" data-wow-delay=".2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xl-8">
              <h3>Comments</h3>
              <div class="comment-classic-group">
                <!-- Comment Classic-->
                <article class="comment-classic"><img class="comment-classic-image" src="../../../public/images/comment-1-100x100.jpg" alt="" width="100" height="100"/>
                  <div class="comment-classic-main">
                    <p class="comment-classic-name heading-5">Andrea Banks</p>
                    <div class="comment-classic-text">
                      <p>Ex duo nemore lobortis, saperet ceteros oporteat vim cu. Vis in copiosae lobortis electram, expetenda intellegat ex quo.</p>
                    </div>
                    <ul class="comment-classic-meta">
                      <li>
                        <time class="comment-classic-time" datetime="2018">July 17, 2018 at 11:29 am</time>
                      </li>
                      <li><a class="comment-classic-reply" href="#">Reply</a></li>
                    </ul>
                  </div>
                </article>
                <div class="comment-classic-group">
                  <!-- Comment Classic-->
                  <article class="comment-classic"><img class="comment-classic-image" src="../../../public/images/comment-2-100x100.jpg" alt="" width="100" height="100"/>
                    <div class="comment-classic-main">
                      <p class="comment-classic-name heading-5">Jack Smith</p>
                      <div class="comment-classic-text">
                        <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                      </div>
                      <ul class="comment-classic-meta">
                        <li>
                          <time class="comment-classic-time" datetime="2018">July 17, 2018 at 11:30 am</time>
                        </li>
                        <li><a class="comment-classic-reply" href="#">Reply</a></li>
                      </ul>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default wow fadeInUp" data-wow-delay=".2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xl-8">
              <h3>Leave a Comment</h3>
              <!-- RD Mailform-->
              <form class="rd-form rd-mailform row-20" data-form-output="form-output-global" data-form-type="contact" method="post" action="../../../public/bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="contact-form-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-form-name">Name</label>
                </div>
                <div class="form-wrap">
                  <input class="form-input" id="contact-form-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="contact-form-email">E-mail</label>
                </div>
                <div class="form-wrap">
                  <label class="form-label" for="contact-form-message">Message</label>
                  <textarea class="form-input" id="contact-form-message" name="message" data-constraints="@Required"></textarea>
                </div>
                <div class="form-wrap">
                  <button class="button button-lg button-primary button-raven" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-classic bg-gray-850">
        <div class="container">
          <h2 class="text-uppercase text-white text-center wow fadeInUp" data-wow-delay=".2s">contact us</h2>
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <form class="rd-form rd-mailform rd-mailform-custom" data-form-output="form-output-global" data-form-type="contact" method="post" action="../../../public/bat/rd-mailform.php">
                <div class="row row-lg-30">
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <input class="form-input form-input-2" id="contact-name-3" type="text" name="name" data-constraints="@Required">
                      <label class="form-label form-label-2" for="contact-name-3">Name&nbsp;<span class="text-fourth">*</span></label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <input class="form-input form-input-2" id="contact-email-3" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label form-label-2" for="contact-email-3">E-mail&nbsp;<span class="text-fourth">*</span></label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <label class="form-label form-label-2" for="contact-message-3">Message</label>
                      <textarea class="form-input form-input-2" id="contact-message-3" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 text-center offset-top-30">
                    <button class="button-2 wow fadeInLeft button button-lg button-icon button-icon-left button-secondary button-ujarak" data-wow-delay=".2s" type="submit"><span class="icon mdi mdi-plus"></span>Send Message</button>
                  </div>
                </div>
              </form>
              <ul class="list-inline list-inline-sm footer-social-list">
                <li><a class="icon fa fa-linkedin" href="#"></a></li>
                <li><a class="icon fa fa-twitter" href="#"></a></li>
                <li><a class="icon fa fa-facebook" href="#"></a></li>
                <li><a class="icon fa fa-instagram" href="#"></a></li>
              </ul>
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Sky Events</span><span>.&nbsp;</span><span>All rights reserved</span><span>.&nbsp;</span><a href="#">Terms and Conditions</a><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="../../../public/js/core.min.js"></script>
    <script src="../../../public/js/script.js"></script>
  </body>
</html>
