<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Single Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../../public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600,700%7CMerriweather:300i,400,400i,700,700i,900%7CMontserrat:300,400,700,800,900">
    <link rel="stylesheet" href="../../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../../public/css/fonts.css">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../../../public/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.blade.php"><img class="brand-logo-dark" src="../../../public/images/logo-default-119x44.png" alt="" width="119" height="44" srcset="../../../public/images/logo-default-119x44.png 2x"/><img class="brand-logo-light" src="../../../public/images/logo-default-119x44.png" alt="" width="119" height="44" srcset="../../../public/images/logo-default-119x44.png 2x"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.blade.php">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.blade.php">About</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="portfolio.html">Portfolio</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item active"><a class="rd-dropdown-link" href="single-portfolio.html">Single Portfolio</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="services.html">Services</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-service.html">Single Service</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="classic-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="classic-blog.html">Classic Blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="modern-blog.html">Modern Blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog Post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress Bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid System</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503-page.html">503 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="under-construction.html">Under Construction</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search Results</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.blade.php">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section-xl context-dark bg-image-2" style="background-image: url(../../../public/images/bg-about-01-1700x376.jpg)">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-12">
              <h2 class="text-uppercase text-center">Single Portfolio</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- Single Project-->
      <section class="section section-lg section-first bg-default">
        <div class="container">
          <div class="row row-50 justify-content-center align-items-xl-start">
            <div class="col-md-10 col-lg-6 col-xl-8">
              <div class="offset-right-xl-15">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-dots-white wow fadeInLeft" data-items="1" data-dots="false" data-autoplay="true" data-animation-in="fadeIn" data-animation-out="fadeOut"><img src="../../../public/images/single-portfolio-1-732x620.jpg" alt="" width="732" height="620"/><img src="../../../public/images/single-portfolio-2-732x620.jpg" alt="" width="732" height="620"/><img src="../../../public/images/single-portfolio-3-732x620.jpg" alt="" width="732" height="620"/>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-4">
              <div class="single-project">
                <h3 class="offset-top-15 wow fadeInRight" data-wow-delay=".2s">iSTEP CORPORATE EVENT</h3>
                <h4 class="text-third text-italic wow fadeInLeft">April 2018</h4>
                <p class="text-gray-600">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris ultricies, nulla eget fringilla eleifend...</p>
              </div>
              <div class="row row-narrow row-10 wow fadeInUp" data-lightgallery="group">
                <div class="col-sm-6 col-lg-4">
                  <!-- Thumbnail Classic-->
                  <article class="thumbnail thumbnail-mary">
                    <div class="thumbnail-mary-figure"><img src="../../../public/images/gallery-image-1-348x348.jpg" alt="" width="348" height="348"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="../../../public/images/grid-gallery-1-1200x800-original.jpg" data-lightgallery="item"><img src="../../../public/images/gallery-image-1-348x348.jpg" alt="" width="348" height="348"/></a>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <!-- Thumbnail Classic-->
                  <article class="thumbnail thumbnail-mary">
                    <div class="thumbnail-mary-figure"><img src="../../../public/images/gallery-image-2-348x348.jpg" alt="" width="348" height="348"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="../../../public/images/grid-gallery-2-1200x800-original.jpg" data-lightgallery="item"><img src="../../../public/images/gallery-image-2-348x348.jpg" alt="" width="348" height="348"/></a>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <!-- Thumbnail Classic-->
                  <article class="thumbnail thumbnail-mary">
                    <div class="thumbnail-mary-figure"><img src="../../../public/images/gallery-image-3-348x348.jpg" alt="" width="348" height="348"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="../../../public/images/grid-gallery-3-1200x800-original.jpg" data-lightgallery="item"><img src="../../../public/images/gallery-image-3-348x348.jpg" alt="" width="348" height="348"/></a>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <!-- Thumbnail Classic-->
                  <article class="thumbnail thumbnail-mary">
                    <div class="thumbnail-mary-figure"><img src="../../../public/images/gallery-image-4-348x348.jpg" alt="" width="348" height="348"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="../../../public/images/grid-gallery-4-1200x800-original.jpg" data-lightgallery="item"><img src="../../../public/images/gallery-image-4-348x348.jpg" alt="" width="348" height="348"/></a>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <!-- Thumbnail Classic-->
                  <article class="thumbnail thumbnail-mary">
                    <div class="thumbnail-mary-figure"><img src="../../../public/images/gallery-image-5-348x348.jpg" alt="" width="348" height="348"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="../../../public/images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img src="../../../public/images/gallery-image-5-348x348.jpg" alt="" width="348" height="348"/></a>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <!-- Thumbnail Classic-->
                  <article class="thumbnail thumbnail-mary">
                    <div class="thumbnail-mary-figure"><img src="../../../public/images/gallery-image-6-348x348.jpg" alt="" width="348" height="348"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="../../../public/images/grid-gallery-6-1200x800-original.jpg" data-lightgallery="item"><img src="../../../public/images/gallery-image-6-348x348.jpg" alt="" width="348" height="348"/></a>
                    </div>
                  </article>
                </div>
              </div>
              <div class="single-project-social-link offset-top-45">
                <div>
                  <ul class="list-inline list-inline-sm social-list">
                    <li><a class="icon fa fa-linkedin" href="#"></a></li>
                    <li><a class="icon fa fa-twitter" href="#"></a></li>
                    <li><a class="icon fa fa-facebook" href="#"></a></li>
                    <li><a class="icon fa fa-instagram" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="text-uppercase wow fadeInLeft" data-wow-delay=".2s">Corporate IT Event</h3>
              <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit hendrerit faucibus. Suspendisse hendrerit turpis dui, eget ultricies erat consequat ut. Sed ac velit iaculis, condimentum neque eu, maximus urna. Maecenas vitae nunc sit amet risus aliquet facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In facilisis mi sit amet metus sagittis rhoncus.</p>
              <p class="text-gray-600 offset-top-25">Fusce eros diam, finibus eget quam at, mattis placerat nulla. Nulla id est dignissim, vehicula enim id, dapibus sem. Integer auctor, massa id rhoncus efficitur, sem magna dignissim velit, ut facilisis enim neque nec velit. Vestibulum posuere urna non ante commodo, quis accumsan orci hendrerit. Nulla bibendum orci mi, sit amet malesuada diam. Sed ac velit iaculis, condimentum neque eu, maximus urna. Maecenas vitae nunc sit amet risus aliquet facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In facilisis mi sit amet metus sagittis rhoncus.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-carousel-mod-1 text-center wow fadeInDown" data-items="1" data-md-items="2" data-xl-items="3" data-loop="true" data-margin="15" data-dots="true" data-autoplay="false" data-dots-each="1" data-xs-stage-padding="15"><img src="../../../public/images/gallery-image-7-370x400.jpg" alt=""><img src="../../../public/images/gallery-image-8-370x400.jpg" alt=""><img src="../../../public/images/gallery-image-9-370x400.jpg" alt=""></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Single Portfolio Links-->
      <section class="section section-bottom-60-lg-110">
        <div class="container">
          <div class="project-navigation"><span class="title-text text-gray-600 wow fadeInLeft"><a class="project-navigation-arrow-prev" href="#">Previous project<span class="icon mercury-icon-angle-left"></span></a></span><span class="title-text text-gray-600 wow fadeInRight"><a class="project-navigation-arrow-next" href="#">Next project<span class="icon mercury-icon-angle-right"></span></a></span></div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-classic bg-gray-850">
        <div class="container">
          <h2 class="text-uppercase text-white text-center wow fadeInUp" data-wow-delay=".2s">contact us</h2>
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <form class="rd-form rd-mailform rd-mailform-custom" data-form-output="form-output-global" data-form-type="contact" method="post" action="../../../public/bat/rd-mailform.php">
                <div class="row row-lg-30">
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <input class="form-input form-input-2" id="contact-name-3" type="text" name="name" data-constraints="@Required">
                      <label class="form-label form-label-2" for="contact-name-3">Name&nbsp;<span class="text-fourth">*</span></label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <input class="form-input form-input-2" id="contact-email-3" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label form-label-2" for="contact-email-3">E-mail&nbsp;<span class="text-fourth">*</span></label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <label class="form-label form-label-2" for="contact-message-3">Message</label>
                      <textarea class="form-input form-input-2" id="contact-message-3" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 text-center offset-top-30">
                    <button class="button-2 wow fadeInLeft button button-lg button-icon button-icon-left button-secondary button-ujarak" data-wow-delay=".2s" type="submit"><span class="icon mdi mdi-plus"></span>Send Message</button>
                  </div>
                </div>
              </form>
              <ul class="list-inline list-inline-sm footer-social-list">
                <li><a class="icon fa fa-linkedin" href="#"></a></li>
                <li><a class="icon fa fa-twitter" href="#"></a></li>
                <li><a class="icon fa fa-facebook" href="#"></a></li>
                <li><a class="icon fa fa-instagram" href="#"></a></li>
              </ul>
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Sky Events</span><span>.&nbsp;</span><span>All rights reserved</span><span>.&nbsp;</span><a href="#">Terms and Conditions</a><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="../../../public/js/core.min.js"></script>
    <script src="../../../public/js/script.js"></script>
  </body>
</html>
