<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Typography</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../../public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600,700%7CMerriweather:300i,400,400i,700,700i,900%7CMontserrat:300,400,700,800,900">
    <link rel="stylesheet" href="../../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../../public/css/fonts.css">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../../../public/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.blade.php"><img class="brand-logo-dark" src="../../../public/images/logo-default-119x44.png" alt="" width="119" height="44" srcset="../../../public/images/logo-default-119x44.png 2x"/><img class="brand-logo-light" src="../../../public/images/logo-default-119x44.png" alt="" width="119" height="44" srcset="../../../public/images/logo-default-119x44.png 2x"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.blade.php">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.blade.php">About</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="portfolio.html">Portfolio</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-portfolio.html">Single Portfolio</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="services.html">Services</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-service.html">Single Service</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="classic-blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="classic-blog.html">Classic Blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="modern-blog.html">Modern Blog</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog Post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress Bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid System</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503-page.html">503 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="under-construction.html">Under Construction</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search Results</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.blade.php">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section-xl context-dark bg-image-2" style="background-image: url(../../../public/images/bg-about-01-1700x376.jpg)">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-12">
              <h2 class="text-uppercase text-center">Typography</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- Base typography -->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 flex-lg-row-reverse">
            <div class="col-xl-4">
              <ul class="list-md">
                <li>
                  <h1>H1 Heading</h1>
                </li>
                <li>
                  <h2>H2 Heading </h2>
                </li>
                <li>
                  <h3>H3 Heading   </h3>
                </li>
                <li>
                  <h4>H4 Heading </h4>
                </li>
                <li>
                  <h5>H5 Heading</h5>
                </li>
                <li>
                  <h6>H6 Heading </h6>
                </li>
              </ul>
            </div>
            <div class="col-xl-8">
              <ul class="list-xl">
                <li>
                  <h1>H1 Heading</h1>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h2>H2 Heading</h2>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h3>H3 Heading</h3>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h4>H4 Heading</h4>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h5>H5 Heading</h5>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h6>H6 Heading</h6>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Blockquote-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-10 col-xl-8">
              <h3>Blockquote</h3>
              <!-- Quote Primary-->
              <article class="quote-primary">
                <div class="quote-primary-body">
                  <svg class="quote-primary-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="21px" height="15px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                    <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316 c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37 C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316 c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37 C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                  </svg>
                  <div class="quote-primary-text">
                    <p class="q">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </div>
                </div>
                <div class="quote-primary-footer">
                  <p class="heading-5 quote-primary-cite">Dennis Williams</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- HTML Text Elements-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h3>HTML Text Elements</h3>
              <p class="text-block"><span class="text-bold">Bold text</span>
                <mark>This is a highlighted text</mark><span class="text-strike">This is a strickethrough text</span><span class="text-underline">This is an underlined text.</span><span>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for</span><a href="#">Link</a><a class="link-hover" href="#">Hover link</a><a class="link-active" href="#">Press link</a><span>With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</span><span class="tooltip-custom" data-toggle="tooltip" data-placement="top" title="Tooltips">Tooltips</span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Unordered List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-xl-8">
              <h3>Unordered List</h3>
              <p>We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.</p>
              <ul class="list-marked">
                <li>Consulting</li>
                <li>Customer Service</li>
                <li>Innovation</li>
                <li>Management</li>
                <li>Ethics</li>
              </ul>
              <p>We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Ordered List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-xl-8">
              <h3>Ordered List</h3>
              <p>We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.</p>
              <ol class="list-ordered">
                <li>Consulting</li>
                <li>Customer Service</li>
                <li>Innovation</li>
                <li>Management</li>
                <li>Ethics</li>
              </ol>
              <p>We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Icon List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <h3>Icon List</h3>
          <div class="row row-30">
            <div class="cell-xs-10 col-md-6 col-lg-4">
              <article class="box-minimal">
                <div class="box-minimal-icon fa fa-thumbs-up"></div>
                <h4 class="box-minimal-title">Best Service</h4>
                <div class="box-minimal-text">
                  <p>Our mission is to attract and retain customers by providing Best in Class solutions and fostering a profitable, disciplined culture of safety, service, and trust.</p>
                </div>
              </article>
            </div>
            <div class="cell-xs-10 col-md-6 col-lg-4">
              <article class="box-minimal">
                <div class="box-minimal-icon fa fa-group"></div>
                <h4 class="box-minimal-title">Reputation</h4>
                <div class="box-minimal-text">
                  <p>We have established a strong presence in the industry. Our award-winning services earn a reputation for quality and excellence that few can rival.</p>
                </div>
              </article>
            </div>
            <div class="cell-xs-10 col-md-6 col-lg-4">
              <article class="box-minimal">
                <div class="box-minimal-icon fa fa-lock"></div>
                <h4 class="box-minimal-title">Safety & Security</h4>
                <div class="box-minimal-text">
                  <p>Safety for our employees, customers and the community we work with will always remain our primary focus in all the policies, procedures and programs.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Image Centered-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h3>Image Centered</h3>
              <figure class="figure-light offset-top-30"><img class="img-centered" src="../../../public/images/typography-770x480.jpg" alt="" width="770" height="480"/>
                <figcaption>
                  <p>Reliable services</p>
                </figcaption>
              </figure>
              <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Image Left-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h3>Image Left</h3>
              <div class="row row-30">
                <div class="col-md-6"><img src="../../../public/images/typography-770x480.jpg" alt="" width="770" height="480"/>
                </div>
                <div class="col-md-6">
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Image Right-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h3>Image Right</h3>
              <div class="row row-30 flex-md-row-reverse">
                <div class="col-md-6"><img src="../../../public/images/typography-770x480.jpg" alt="" width="770" height="480"/>
                </div>
                <div class="col-md-6">
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-classic bg-gray-850">
        <div class="container">
          <h2 class="text-uppercase text-white text-center wow fadeInUp" data-wow-delay=".2s">contact us</h2>
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <form class="rd-form rd-mailform rd-mailform-custom" data-form-output="form-output-global" data-form-type="contact" method="post" action="../../../public/bat/rd-mailform.php">
                <div class="row row-lg-30">
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <input class="form-input form-input-2" id="contact-name-3" type="text" name="name" data-constraints="@Required">
                      <label class="form-label form-label-2" for="contact-name-3">Name&nbsp;<span class="text-fourth">*</span></label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <input class="form-input form-input-2" id="contact-email-3" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label form-label-2" for="contact-email-3">E-mail&nbsp;<span class="text-fourth">*</span></label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <label class="form-label form-label-2" for="contact-message-3">Message</label>
                      <textarea class="form-input form-input-2" id="contact-message-3" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 text-center offset-top-30">
                    <button class="button-2 wow fadeInLeft button button-lg button-icon button-icon-left button-secondary button-ujarak" data-wow-delay=".2s" type="submit"><span class="icon mdi mdi-plus"></span>Send Message</button>
                  </div>
                </div>
              </form>
              <ul class="list-inline list-inline-sm footer-social-list">
                <li><a class="icon fa fa-linkedin" href="#"></a></li>
                <li><a class="icon fa fa-twitter" href="#"></a></li>
                <li><a class="icon fa fa-facebook" href="#"></a></li>
                <li><a class="icon fa fa-instagram" href="#"></a></li>
              </ul>
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Sky Events</span><span>.&nbsp;</span><span>All rights reserved</span><span>.&nbsp;</span><a href="#">Terms and Conditions</a><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="../../../public/js/core.min.js"></script>
    <script src="../../../public/js/script.js"></script>
  </body>
</html>
